@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1,
h2,
h3,
h4 {
            font-style:oblique;
}
h1 {
    font-size: 10rem;
    line-height: 12rem;
    font-weight: 500;
            font-style:oblique;

}
h2 {
    font-size: 8rem;
            font-style:oblique;

}

h3 {
    font-size:  6rem;
    line-height: 7rem;
            font-style:oblique;

}

h4 {
    font-size:  4rem;
    line-height:  4.7rem;
            font-style:oblique;

}

h5 {
    font-size:  3rem;
            font-style:oblique;
}

.coppy {
    font-size:1.6rem;
            font-style:oblique;
    width: 30%;
}

.copy-small {
    font-family: 15px;
            font-style:oblique;

}
.p {
    font-size:1.5rem;
            font-style:oblique;

}
