.Teams{
  text-align: center;
  color: black;
}


.Team{
  display: flex;
  flex-wrap: wrap; 
  
  width: 100%;
  background-color: aliceblue;
  margin-bottom: 3rem;
  


  &__Section{
    padding-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
      min-height: 15vh;
       flex: 0 0 33.333%; 
  
  box-sizing: border-box;
  text-align: center;


    
}
    &__Section img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 40%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

// @media (max-width: 768px) {
//   .row, .reverse {
//     flex-direction: column !important; /* stack vertically */
//     padding: 2rem 1rem;
//   }

  
//   .row img {
//     padding: 0 0 1rem 0;
//     max-width: 100%;
//     border-radius: 8px;
//   }
  
//   .row .text {
//     margin-right: 0;
//     margin-top: 0;
//   }
  
//   .row .text p {
//     margin-left: 0;
//     font-size: 1rem;
//     text-align: left;
//   }
  
//   .row .text h5 {
//     font-size: 1.5rem;
//     text-align: left;
//   }
// }

// @media (max-width: 480px) {
//   .row {
//     padding: 1rem;
//   }
  
//   .row .text p {
//     font-size: 0.9rem;
//   }
  
//   .row .text h5 {
//     font-size: 1.3rem;
//   }
// }